<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">
<main>
  <h1>Rental Record for <em>Joe Schmoe</em></h1>
<ul>
    <li>The Fellowship of the Ring - 3.5</li>
    <li>The Two Towers - 15</li>
    <li>The Return of the King - 3</li>
<ul>
<p>Amount owed is <em>21.5</em></p>
<p>You earned <em>4</em> frequent renter points</p>
</main>
</body>
</html>